<div class="main-banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="caption header-text">
                    <h6>Suas Tarefas em um ùnico Lugar</h6>
                    <div class="line-dec"></div>
                    <h4>Crie suas <em>Tarefas</em> e <span>Organize</span> seu dia à dia</h4>
                    <p>Com o task app você faz muito mais.</p>
                    <div class="main-button scroll-to-section"><a href="/rota_tarefas/tarefas/add">Crie uma Tarefa</a></div>
                </div>
            </div>
        </div>
    </div>
</div>