  <footer>
    <div class="container">
      <div class="col-lg-12">
        <p>Copyright © 2023 <a href="#">Fatec Cotia</a>. Todos os direitos reservados.

          <br>Matéria: <a href="#" target="_blank">Tecnicas de Programação II</a> Professor: <a
            href="#">Mario de Jesus</a>
        </p>
      </div>
    </div>
  </footer>